<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui" />
		<title>Prysm</title>
		<link rel="stylesheet" href="/assets/css/style.css?v=<%= htmlWebpackPlugin.options.ts %>">
	</head>
	<body>
		<div id="test" class="water"></div>
		<script src="/dist/prysm.min.js?v=<%= htmlWebpackPlugin.options.ts %>"></script>
		<script src="/dist/index.min.js?v=<%= htmlWebpackPlugin.options.ts %>"></script>
	</body>
</html>
