<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui" />
		<title>Shapeshift</title>
		<link rel="stylesheet" href="/static/assets/css/style.css?v=<%= htmlWebpackPlugin.options.ts %>">
	</head>
	<body style="background-color:#eeeeee;">
        <div class="speaker wavify" data-wave-speed="0.02" data-wave-x="10.1" data-wave-y="0.8"></div>
		<script src="/static/dist/app.js?v=<%= htmlWebpackPlugin.options.ts %>"></script>
	</body>
</html>
